body{
    font-family: "DM Sans";
    
}

.main{
    background-image: url("./resources/background.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container{
    width: 100%;
    height: 100px;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

h1{
    margin: 0;
}

.buttons a{
    display: inline-flex;
    margin: 10px;
}

a{
    text-decoration: none;
}

#youtube{
    color: #FF0000;
}

#twitter{
    color: #1DA1F2;
}

#telegram{
    color: #0088CC;
}

#spotify{
    color: #1DB954;
}

#itunes{
    color: #000000;
}


footer{
    margin: 50px;
    text-align: center;
}